.raleway_normal18 {
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 400;
}

main {
  display: grid;
}
  
.header {
  padding: 92px 24px 96px;
  margin: 0 auto;
  display: flex;
  width: 100%;
  align-items: center;
}

.header__logo {
  width: 140px;
  height: 105.65px;
  left: 9.03px;
  top: 1.16px;
  padding-left: 6px;
}

.header__menu {
  line-height: 21.13px;
  display: flex;
  padding-top: 3px;
}

.header__menu li:last-child {
  padding-right: 40px;
}

.menu-link_no_active {
  padding-right: 32px;
  padding-left: 26px;
  list-style: none;
  text-decoration: none;
}

.menu-link {
  padding-right: 32px;
  list-style: circle ;
  text-underline-offset: 4px;
  letter-spacing: 0.004em;
}

address {
  margin-left: 193px;
  padding-top: 5px;
  width: 270px;
  text-underline-offset: 3px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  font-style: normal;
  letter-spacing: 0.004em;
}

.cover {
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../images/cover.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 757px;
  background-size: cover;
  background-position: center;
}

.cover_label {
  margin-left: 50px;
  margin-top: 165px;
  margin-right: 50px;
  margin-bottom: 135px;
  display: relative;
  height: 355px;
}

.first_up {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.first_up_letter {
  letter-spacing: 0.6em;
  padding-left: 29px;
}

.first_center {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-left: 285px;
}

.first_center_start { 
  padding-top: 12px;
}

.first_center_letter {
  letter-spacing: 0.6em;
  margin:0;
  padding: 30px;
}

.first_down_start {
  padding-top: 12px;
}

.first_down {
  padding-left: 584px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 100%;
  text-align: right;
  letter-spacing: 0.6em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
}

.first_down_letter {
  letter-spacing: 0.3em;
  padding-left: 0px;
}

.first_down__letter {
  padding: 0px;
}

.cover_down_start {
  padding-top: 12px;
}

.cover_down {
  width: 635px;
  height: 28px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-left: 82px ;
  word-spacing: 18px;
  margin-top: 20px;
  padding-bottom:0px;
}

.cover_button {
  margin-top: 93px;
  position: absolute;
  width: 256px;
  height: 51px;
  left: 794px;
  top: 855px;
  background-color: rgba(28,28,28,0);
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border-color: #FFFFFF;
  border-width: 1px;
}

.lots {
  padding-top: 179px;
  height: 871px;
}
  
.lots__title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  color: #000000;
  padding-left: 62px;
  margin-bottom: 28px;
}

.lots__list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;
}

.lots__item {
  padding-left: 24px;
  width: 334;
  height: 563;
}

.lot {
  width: 334px;
  height: 563px;
  padding-left: 25px;
  display: table-cell;
  display: table-cell;
  vertical-align: middle;
}

.lots__container {
  padding-left: 24px;
  padding-right: 24px;
  color: #FFFFFF;
  display: flex;
  gap: 26px;
  margin-bottom: 32px;
}

.lots__item {
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
}

.lots__item-title {
  text-transform: uppercase;
  text-decoration: underline;
  font-family: Raleway;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
}

.lots__item-content {
  font-family: Raleway;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.lots__cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: calc(89.8%/3);
}

.lots__cover.films {
  background-image: url(../images/card-lot-01.jpg);
}

.lots__cover.books {
  background-image: url(../images/card-lot-02.jpg);
}

.lots__cover.pictures {
  background-image: url(../images/card-lot-03.jpg);
}

.see_more {
  padding-left: 65px;
  width: 192px;
  height: 23px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  text-underline-offset: 4px;
}

.about {
  padding-top: 180px;
  padding-bottom: 0px;
  padding-left: 72px;
  padding-bottom: 20px;
  display:flex;
}

.logo_white {
  width: 148px;
  height: 114px;
  padding-bottom: 0px;
}

.about__title {
  width: 291px;
  height: 47px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  color: #000000;
  display:flex;
  margin-left:310px;
  margin-top: -140px;
}

.about__text {
  width: 693px;
  height: 120px;
  margin-top: 100px;
  margin-left:310px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.about__text_two {
  margin-top: 25px;
  margin-bottom: 180px;
}

.about_black {
  width: 693px;
  height: 449px;
  left: 359px;
  top: 133px;
}

.logo_border {
  border-radius: 50%;
  background-color: black;
  width: 240px;
  height: 240px;
  padding-bottom: 30px;
  padding-top: 65px;
  padding-left: 44px;
}

.section_about {
  padding-top:0;
}

.footer {
  padding-top: 27px;
  display: grid;
  grid-template-columns: 240px auto 240px;
  align-items: start;
  margin: 0 auto;
  width: 1000px;
  min-height: 72px;
}

.footer__menu {
  padding-left: 181px;
  display: flex;
  justify-content: start;
  margin-left: 0;
}

.footer__menu-array {
  list-style: none;
  width: 154px;
  text-align: center;
}

.footer__menu-elem {
  font-size: 18px;
  text-underline-offset: 3px;
}

.footer__menu-elem-link {
  text-decoration: underline;
}

.footer__menu-elem-link-no_active {
  text-decoration: none;
}

.footer__address {
  margin-left: 0;
  padding-top:0px;
  width: 270px;
  text-underline-offset: 3px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  font-style: normal;
  letter-spacing: 0.004em;
}

.footer__social-array {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
}

.footer__social-elem {
  list-style: none;
}

.footer__icon {
  color: black;
  width: 48px;
  list-style: none;
  text-align: none;
}

